extends layout

block content
  h1= title
  #main Welcome
  
    #add Enter name and major:
      form(name='adding', id='inputForm')
        label(for='name') Name:
        input(name='name', type='text', id='nameInput')
        br
        label(for='major') Major:
        input(name='major', type='text', id='majorInput')
        br
        .button#addButton Add
        .button#queryButton Query
        .button#removeButton Remove
